extends layout/layout

block content
  div
    p= video.title
    small= video.createdAt
    br
    small 게시자 : #{ video.owner._id }
  p= video.description
  video(src="/" + video.fileUrl, controls)
  if loggedInUser && String(video.owner._id) === String(loggedInUser._id)
    a(href=`${video.id}/edit`) Edit Video &rarr;
    br
    a(href=`${video.id}/delete`) Delete Video &rarr;
